@font-face {
  font-family: "Days-one";
  src: url(../fonts/Days_One/DaysOne-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "chakra-petch";
  src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "chakra-petch";
  src: url(../fonts/Chakra_Petch/ChakraPetch-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: var(--fontFamilychakra);
  background-color: var(--color-dark);
}

:root {
  --color-dark: #0b0e13;
  --color-white: #f1f1f1;
  --main-color: #cbfe1c;
  --fontFamilychakra: "chakra-petch";
  --fontFamilyDays: "Days-one";
}
::selection {
  background-color: var(--main-color);
  color: var(--color-dark);
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: #d1d5dc;
  line-height: 1.5;
}
.textGrey {
  font-size: 0.75rem;
  font-weight: 400;
  color: #99a1af;
}
.btnShine {
  background-color: var(--main-color);

  font-size: 1rem;
  font-weight: 700;
  color: var(--color-dark);
  padding-inline: 1.25rem;
  transition: all 0.6s;
  position: relative;
  overflow: hidden;
}

.btnShine::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-image: linear-gradient(90deg, #0000, #fff6, #0000);
  transition: 0.6s;
}

.btnShine:hover {
  background-color: #a4ce1a;
}

.btnShine:hover::before {
  left: 100%;
}

.mainTitle {
  text-align: center;
  padding: 80px 0 30px;
}

.mainTitle h2 {
  font-size: 3rem;
  font-size: 700;
  font-family: var(--fontFamilyDays);
  color: var(--color-white);
  margin-bottom: 0;
}
.mainTitle h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-white);
}
.mainTitle h3 span {
  font-size: inherit;
  font-weight: inherit;
  color: var(--main-color);
  text-transform: none;
}
.mainTitle .arrows {
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-color);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.mainTitle .arrows::before,
.mainTitle .arrows::after {
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.mainTitle .arrows::before {
  right: calc(100% + 15px);
  background: linear-gradient(to right, #384615, #cbfe1c);
}

.mainTitle .arrows::after {
  left: calc(100% + 15px);
  background: linear-gradient(to left, #384615, #cbfe1c);
}
.mainTitle p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #99a1af;
}

.logo .logoText {
  color: var(--main-color);
  font-size: 1.25rem;
  font-weight: 700;
}

#header .navbarList li a {
  color: var(--color-white);

  font-size: 1rem;
  font-weight: 400;
  transition: 0.3s;
}

#header .navbarList li .active {
  color: var(--main-color);
}

#header .navbarList li:hover a {
  color: var(--main-color);
}

#header .mynav {
  border-bottom: 1px solid oklch(27.8% 0.033 256.848);
  border-top: 1px solid oklch(27.8% 0.033 256.848);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-dark);
  padding: 0;
  z-index: 999;
}

#header .logoSignIn .icon {
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-white);
  font-size: 1.125rem;
}

#header .logoSignIn .icon:hover {
  color: var(--main-color);
}

#header .myicon {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#header .myicon:hover {
  color: var(--main-color);
}

#header .mybtn {
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 991px) {
  #header .gamesArena {
    width: 100%;
  }

  #header .navbarList li a {
    padding-block: 0.9375rem;
  }

  #header .logoSignIn {
    flex-direction: column;
    padding-block: 0.9375rem;
    border-top: 0.0625rem solid oklch(27.8% 0.033 256.848);
  }

  #header .logoSignIn button {
    padding: 0.625rem 1.25rem;
  }
}

@media screen and (min-width: 991px) {
  #header .logoSignIn span {
    display: none;
  }
}

#header {
  padding-top: 6.25rem;
  min-height: 100dvh;
  background-image:
    linear-gradient(#000000e0, #000000e0), url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#header .info h1,
#header .info h1 span {
  color: var(--color-white);
  font-family: var(--fontFamilyDays);
  font-weight: 700;
  font-size: 3.4375rem;
}

#header .info h1 span {
  color: var(--main-color);
  display: block;
}

#header .headerButtons button {
  padding: 0.9375rem 1.875rem;
}

#header .headerButtons .watchBtn {
  background-color: transparent;
  color: var(--main-color);
  border: 0.125rem solid var(--main-color);
}

#header .image .inner {
  width: 100%;
  max-width: 550px;
  height: 370px;
  padding: 4px;
  border-radius: 0.625rem;
  background-image: linear-gradient(to right, #c6fd26, #72eb62);
  position: relative;
}
#header .image img {
  object-fit: cover;
  border-radius: 0.625rem;
}

#header .image .badge {
  position: absolute;
  bottom: -30px;
  left: -20px;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1.5625rem;
  border: 0.125rem solid oklch(27.8% 0.033 256.848);
  border-radius: 10px;
  z-index: 2;
}

#header .badge .number {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-white);
  text-align: start;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 12px;
  }

  #header .content {
    justify-content: center;
    align-items: center;
  }
  #header .info h1 {
    text-align: center;
  }
  #header .headerButtons button {
    width: 100%;
  }

  #header .image .inner {
    margin-inline: auto;
  }
}

@media screen and (max-width: 575px) {
  #header .headerButtons {
    margin-bottom: 20px;
  }
}

#ourGames .inner {
  gap: 1.875rem;
}

#ourGames .mycard {
  overflow: hidden;
  border-radius: 1.25rem;
  transition: 0.3s;
}

#ourGames .mycard:hover {
  border: 3px solid var(--main-color);
}

#ourGames .carousel-btn {
  position: relative;
}

#ourGames .carousel-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 2px solid oklch(70.7% 0.022 261.325);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ourGames .carousel-btn:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

#ourGames .btnView {
  color: var(--main-color);
  background-color: transparent;
  border: 2px solid var(--main-color);
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1.25rem 1.5625rem;
  text-transform: uppercase;
  transition: 0.3s;
}

#ourGames .btnView:hover {
  color: var(--color-dark);
  background-color: var(--main-color);
}

#ourGames .topCard {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  transform: translateY(-2.5rem);
  transition: 0.3s;
}

#ourGames .mycard:hover .topCard {
  transform: translateY(0);
}
#ourGames .topCard div {
  background-color: #364b1f;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.3125rem 0.625rem;
  color: var(--color-white);
}

#ourGames .bottomCard {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  transition: 0.3s;
  background: linear-gradient(360deg, var(--main-color), transparent);
}
#ourGames .mycard:hover .bottomCard {
  transform: translateY(0);
}
#ourGames h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-dark);
  min-height: 80px;
  padding: 10px 10px 0;
  transform: translateY(15px);
}

@media screen and (max-width: 768px) {
  #ourGames .btnView {
    width: 100%;
    margin: 0 20px;
  }
}
#whatWeDo .inner {
  width: 100%;
  display: flex;
}

#whatWeDo .col-6 {
  display: flex;
}

#whatWeDo .mycard,
#whatWeDo .mycardImage {
  width: 100%;
  height: 100%;
}

#whatWeDo .mycard {
  background-color: #1a1a1a;
  border-radius: 15px;
  border: 1px solid oklch(27.8% 0.033 256.848);
  padding: 70px 50px;
  text-align: center;
  color: var(--color-white);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

#whatWeDo .mycard::before,
#whatWeDo .mycard::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  transform: rotate(45deg);
  transition: 0.3s;
}
#whatWeDo .mycard::before {
  left: -40px;
  top: -40px;
  border-color: transparent var(--main-color) transparent transparent;
}
#whatWeDo .mycard:hover::before {
  left: -10px;
  top: -10px;
}
#whatWeDo .mycard::after {
  bottom: -40px;
  right: -40px;
  border-color: transparent transparent transparent var(--main-color);
}

#whatWeDo .mycard:hover:after {
  bottom: -10px;
  right: -10px;
  border-color: transparent transparent transparent var(--main-color);
}

#whatWeDo .mycard span {
  background-color: oklch(27.8% 0.033 256.848);
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--main-color);
}

#whatWeDo .mycard h3 {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--fontFamilyDays);
}

#whatWeDo .mycardImage img {
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

#whatWeDo .mycard:hover {
  border-color: var(--main-color);
}

#whatWeDo .mycard:hover span {
  background-color: var(--main-color);
  color: var(--color-dark);
}
#scrollImages {
  background: radial-gradient(
    ellipse,
    rgba(186, 242, 4, 0.812) 10%,
    rgba(201, 254, 28, 0.217) 45%,
    transparent 75%
  );

  position: relative;
}

#scrollImages::before {
  content: "";
  background: linear-gradient(
    90deg,
    transparent,
    #cbfe1c 20%,
    #cbfe1c 80%,
    transparent
  );
  width: 80%;
  max-width: 600px;
  height: 2px;
  box-shadow:
    0 0 10px var(--main-color),
    0 0 20px #cbfe1c4d;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
}
#scrollImages .scrollLeft img,
#scrollImages .scrollRight img {
  width: 100px;
  border-radius: 15px;
  display: block;
}

#scrollImages .scrollLeft {
  animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

#scrollImages .scrollRight {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

#scrollImages .layer {
  position: relative;
  overflow: hidden;
}

#scrollImages .layer::before,
#scrollImages .layer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 3;
}

#scrollImages .layer::before {
  left: -60px;
  background: linear-gradient(to right, #0b0f17, transparent);
}

#scrollImages .layer::after {
  right: -60px;
  background: linear-gradient(to left, #0b0f17, transparent);
}

#ourTeam {
  padding: 20px 0 80px;
}
#ourTeam .teamInfo img {
  width: 300px;
  height: auto;
}

#ourTeam .teamInfo img {
  border-radius: 15px;
  object-fit: cover;
  display: block;
}

#ourTeam .caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#ourTeam .caption h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--fontFamilyDays);
  color: var(--color-white);
}

#ourTeam .caption .title {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color);
  display: block;
}

#ourTeam .caption .description {
  font-size: 12px;
  font-weight: 400;
  color: #99a1af;
  display: block;
  margin-top: -2px;
}

#ourTeam .caption .rotate {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-color);
  writing-mode: vertical-lr;
  display: flex;
  justify-content: flex-end;
}

#ourTeam .teamInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: grayscale(100%);
  z-index: 5;
  transition: 0.7s;
}
#ourTeam .teamInfo:hover::before {
  backdrop-filter: grayscale(0);
  top: -100%;
}

#contactUs {
  background-color: #0f1624;
  padding: 40px 0 80px;
}

#contactUs .contactUscard {
  background-color: #1e2939;
  padding: 40px 30px 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

#contactUs .contactUscard .cardIcon {
  color: var(--color-dark);
  background-color: var(--main-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactUs .info h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--fontFamilyDays);
}

#contactUs .info p {
  color: #99a1af;
  margin: 0;
}

#contactUs .contactUscommunity {
  padding: 40px;
  background-color: red;
  background: linear-gradient(to right, #cbfe1c, oklch(79.2% 0.209 151.711));
  border-radius: 15px;
  color: var(--color-dark);
}

#contactUs .contactUscommunity h3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--fontFamilyDays);
  margin-bottom: 15px;
}

#contactUs .contactUscommunity p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-dark);
}

#contactUs .contactUscommunity span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

#contactUs .myform {
  background-color: #1e2939;
  padding: 30px 30px 20px;
  border-radius: 15px;
}

#contactUs .myform h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--fontFamilyDays);
}

#contactUs .myform label {
  color: #d1d5dc;
  font-size: 0.875rem;
  font-weight: 700;
}
#contactUs .ckeck label {
  color: #99a1af;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 4px 0 0 10px;
}
#contactUs .myform input,
#contactUs .myform select,
#contactUs .myform textarea {
  background-color: #364153;
  border: 1px solid #4a5565;
  padding: 10px 15px;
  caret-color: var(--main-color);
  box-shadow: none;
}
#contactUs .myform input:focus,
#contactUs .myform select:focus,
#contactUs .myform textarea:focus {
  border: 2px solid var(--main-color);
}
#contactUs .myform ::placeholder {
  color: #9399a2;
}

#contactUs .myform select {
  color: #f1f1f1;
}

#contactUs .select-wrapper .form-select {
  background-image: none;
}

#contactUs .select-wrapper {
  position: relative;
}

#contactUs .select-wrapper i {
  position: absolute;
  right: 15px;
  top: 60%;
  color: #f1f1f1;
}
#contactUs .formbtn button {
  display: block;
  width: 100%;
  background-color: var(--main-color);
  color: var(--color-dark);
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

#contactUs .formbtn button:hover {
  background-color: #a8d321;
}

#contactUs .formBottom {
  padding: 30px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactUs .myborder {
  border-top: 1px solid #364153;
}

#contactUs .formBottom .number {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 700;
}

#contactUs .formBottom .info {
  font-size: 14px;
  font-weight: 400;
  color: #99a1af;
}

#footer {
  padding: 50px 0;
  background-color: #000000;
}

#footer p {
  font-size: 16px;
  font-weight: 400;
  color: #99a1af;
  margin: 15px 0;
}

#footer .footerLinks ul a {
  color: oklch(70.7% 0.022 261.325);
  transition: 0.3s;
}
#footer .footerLinks ul a:hover {
  color: var(--main-color);
}

#footer .myLinks h3 {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  font-family: var(--fontFamilyDays);
}

#footer ul a {
  color: #99a1af;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  text-decoration: none;
}

#footer ul a:hover {
  color: var(--main-color);
}

#footer .myLinks ul li {
  margin-top: 15px;
}

#footer .footerBottom {
  padding: 20px 0;
  border-top: 1px solid #1e2939;
}

#footer .footerBottom p {
  margin: 0;
}
